<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"advizecraft/banner"} /-->
<!-- wp:pattern {"slug":"advizecraft/services"} /-->
<!-- wp:pattern {"slug":"advizecraft/about"} /-->
<!-- wp:pattern {"slug":"advizecraft/testimonial"} /-->
<!-- wp:pattern {"slug":"advizecraft/team"} /-->
<!-- wp:pattern {"slug":"advizecraft/faq"} /-->
<!-- wp:pattern {"slug":"advizecraft/contact-us"} /-->
 <!-- wp:pattern {"slug":"advizecraft/articles"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->